<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de login">
    <link href="css/estilo.css" rel="stylesheet" type="text/css">
    <title>Faça seu Cadastro!</title>

</head>

<body bgcolor="E6E6FA">
    
    <div class="tela-login">
        <fieldset class="inputs">

            <div class="campo">
                <label for="nome" style="color: #ffffff;"><strong>Nome</strong></label>
                <input type="text" name="nome" id="nome" style="width: 250px;" required>
            </div>

            <div class="campo">
                <label for="nascimento" style="color: #ffffff;"><strong>Data de nascimento</strong></label>
                <input type="text" name="data-nascimento" id="nascimento" style="width: 250px;" required>
            </div>

            <div class="campo">
                <label for="cpf" style="color: #ffffff;"><strong>Cpf</strong></label>
                <input type="text" name="cpf" id="cpf" style="width: 250px;" required>
            </div>

            <div class="campo">
                <label for="email" style="color: #ffffff;"><strong>Email</strong></label>
                <input type="text" name="email" id="email" style="width: 250px;" required>
            </div>

            <div class="campo">
                <label for="senha" style="color: #ffffff;"><strong>Senha</strong></label>
                <input type="text" name="senha" id="senha" style="width: 250px;" required>
            </div>

        </fieldset>
    
        <div  class="campo">
            <button class="botao" style="width: 250px; height: 40px;">Cadastrar</button>
        </div>

    </div>

</body>

</html>