<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio Médico</title>
</head>
<body>
    <mat-drawer-container id="card">
        <button mat-button id="inicio">Início</button>
        <button mat-button id="listagem">
          Listagem de <br />
          Pacientes
        </button>
        <button mat-button id="prontuario">Prontuário</button>

        <hr id="linha1" />
        <hr id="linha2" />
        <button mat-button id="sair">Sair</button>
      </mat-drawer-container>
  <h1 id="titulo">aaaaaaa</h1>


  <mat-drawer-container id="card2">
        
  </mat-drawer-container>

</body>
</html>
