<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Incial Funcionário</title>
</head>
<body>
    <mat-drawer-container id="card">
        <button mat-button id="inicio">Início</button>
        <button mat-button id="cadastro" (click)="connectionCadastropacfunc()">Cadastro de <br> Pacientes</button>
        <hr id="linha1" />
        <hr id="linha2" />
        <button mat-button id="sair">Sair</button>
      </mat-drawer-container>


  <h1 id="titulo">Boas vindas!</h1>

</body>
</html>
